extends layout

block content
    div 
        span 일반 번호: 
        span=lottoNum
    div
        span 변형 번호: 
        span=lottoNum2
        br
        span 번호가 안 바뀔시 다시 돌리기

    form(method="POST")
        input(value="번호 돌리기", type="submit")